$mobileMaxWidth: 1024px;

.hotel-safe {
    position: absolute; 
    top: 0; 
    left: 0;
    background: blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: $mobileMaxWidth) {
    .item-wrapper {
        flex-direction: column;
    }

    .display {
        order: 1;
        margin-left: 0;
    }

    .circle {
        margin: 20px !important;
        order: 2
    }

    .pinpad-wrapper {
        margin-top: 20px;
        order: 3;
    }
}

.pinpad-wrapper {
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 5px;
    margin: 5px;
    background: grey;
    border: 2px solid black;
}

.pinpad-button {
    width: 30%;
    height: 50px;
}

.display-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    border-radius: 10px;
    width: 30vw;
    min-width: 250px;
    height: 10vh;
    background: grey;
    font-size: 24px;
}

.circle {
    width: 50px;
    height: 50px;
    border: 4px solid black;
    border-radius: 50%;
    margin: 50px;
}

.green {
    background: green;
}

.red {
    background: red;
}